body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }


.header-container {
    max-width: 1400px;
    max-height: 78px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;

}

.logo {
    min-width: 185px;
    min-height: 32px;
    
}

.nav-container {
    min-width: 350px;
    min-height: 56px;
    display: flex;
    justify-content: flex-end;
    
}

.nav-item {
    display: inline-flex;
    margin-right: 30px;
    
}

.nav-link {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
    }


    /* NAV BUTTONS */

.nav-buttoncontainer {
    min-width: 230px;
    min-height: 35px;
    margin-right: 144px;
    
}

.nav-signinitem {
  
    display: inline-flex;
    margin-left: 10px;
    
}

.nav-signlink {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
}

.sign-button {
    min-width: 102px;
    min-height: 46px;
    border: none;
    border-radius: 4px;
    background-color: white;
    

}

.colored {
    background-color: #FF9900;
    color: white;
}

/* DESIGN THINKING SECTION */


.layout-container {
    min-width: 1126px;
    min-height: 496px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    
    
   
}

.content-container {
    max-width: 518px;
    max-height: 331px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}

.info {
    max-width: 458px;
    max-height: 95px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
}

.orange-button {
    min-width: 175px;
    min-height:  52px;
    border: none;
    border-radius: 4px;
    background-color: #FF9900;
}

.orange-link {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;

}

.video {
    color: #FF9900;
    text-decoration: underline;
}

.video-button {
    background-color: white;

}

.image-container {
   max-height: 494px;
   max-width:  604px;
   display: flex;
}

/* DESIGN TOOL SECTION */

.layout-container2 {
    min-width: 1126px;
    min-height: 496px;
    margin-top: 111px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    
}

.sub-title {
    max-width: 539px;
    max-height: 108px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color:  #2F281E;
}

/* Question for Michelle :) In this container-"cards" the margin bottom seems to effect the button beneath this container differently.
Every time I put the 30 px margin bottom it almost sits on the parent container. Have tried a few things but haven't been able to figure it out.
I ended up putting a 100px margin bot - to get the appropriate spacing */


.cards {
    max-width: 1095px;
    max-height: 204px;
    margin-top: 54px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card-container {
    max-width: 240px;
    max-height: 178px;
    
}

.icon {
    min-width: 50px;
    min-height: 50px;
}

.card-titles {
    max-width: 192px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #2F281E;


}

.card-info {
    max-width: 240px;
    max-height: 52px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;

}

/* DESIGN PROFESSIONALS SECTION*/


.section-info {
    min-width: 486px;
    max-height: 78px;
}

.sub-title-aligned {
    display:flex;
    justify-content: flex-start;
}


.bold-title {
    min-width: 211px;
    min-height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color:  #2F281E;

}

.design-content-container {
    min-width: 486px;
    min-height: 531px;
}

/* PROJECT MANAGERS SECTION */

.layout-product {
    flex-direction: row-reverse;
     
}

.product-content-container {
    min-width: 486px;
    min-height: 427px;
    margin-left: 100px;

}

.above-content {
    min-width: 78px;
    min-height: 181px;
    display:flex;
    flex-direction: column;
   
}
    
.checkpoint-container {
    min-width: 450px;
    min-height: 52px;
    display: flex;
    align-items: center;
}

.orange-icon {
    max-width: 35px;
    max-height: 35px;
    
}

/* MARKETERS SECTION */



/* FOOTER SECTION */ 

.footer-container {

    max-width: 1109px;
    max-height: 308px;
    margin-bottom: 83px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-evenly;
   

}

.footer-logo {
    min-width: 185px;
    min-height: 32px;
    
   
}

.footer-content-container {
    min-width: 131px;
    min-height: 205px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    

}

.footer-item {
    display: flex;
}

.footer-link {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
}

.signup-input {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.input-field {
    max-width: 325px;
    max-height: 48px;
    margin-bottom: 21px;

}

.footer-button {
    min-width: 30px;
    min-height:  39px;
    border: none;
    border-radius: 4px;
    background-color: #FF9900;

    
}

